html {
  background-color: #000000;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0;
}
html body {
  width: 1405px;
  height: 2405px;
  margin: 0;
}
.baner {
  z-index: 2;
  background-color: #003a49;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
}
.baner .wall a {
  text-decoration: none;
}
.baner .wall1 a {
  text-decoration: none;
}
.baner img {
  margin-top: 10px;
  margin-left: 90px;
}
.baner img.rot {
  animation: 1s linear 0s normal none infinite running rot;
  -webkit-animation: 10s linear 0s normal none infinite running rot;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.baner .wall2 h1 {
  white-space: nowrap;
  text-decoration: none;
  margin-top: 20px;
  margin-left: 50px;
  color: #fff;
}
.baner .dropdown1 {
  float: left;
  overflow: hidden;
  background-color: #9fd7e6;
  margin-left: 450px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
}
.baner .dropdown1 .dropbtn {
  border: none;
  outline: none;
  padding-left: 65px;
  padding-right: 45px;
  padding-top: 10px;
  margin-bottom: 20px;
  background-color: inherit;
}
.baner .dropdown1 .dropbtn p {
  white-space: nowrap;
  margin-bottom: -15px;
  margin-top: -40px;
  font-family: inherit;
  color: #000000;
  font-size: 40px;
}
.baner .dropdown1 .dropbtn img {
  margin-top: 5px;
  margin-left: -150px;
}
.baner .dropdown1:hover {
  background-color: #7099a5;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.baner .dropdown1 .dropdown-content {
  margin-left: -50px;
  display: none;
  position: absolute;
  background-color: #4e4e4e;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.baner .dropdown1 .dropdown-content a {
  white-space: nowrap;
  float: none;
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 30px;
}
.baner .dropdown1 .dropdown-content a:hover {
  background-color: #363636;
}
.baner .dropdown1:hover .dropdown-content {
  display: block;
}
.baner .dropdown1:hover .dropdown-content {
  display: block;
}
.baner .dropdown {
  float: left;
  overflow: hidden;
  background-color: #9fd7e6;
  border-radius: 50px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
}
.baner .dropdown .dropbtn {
  border: none;
  outline: none;
  padding-left: 65px;
  padding-right: 45px;
  padding-top: 10px;
  margin-bottom: 20px;
  background-color: inherit;
}
.baner .dropdown .dropbtn p {
  white-space: nowrap;
  margin-bottom: -15px;
  margin-top: -40px;
  font-family: inherit;
  color: #000000;
  font-size: 40px;
}
.baner .dropdown .dropbtn img {
  margin-top: 5px;
  margin-left: -150px;
}
.baner .dropdown:hover {
  background-color: #7099a5;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.baner .dropdown .dropdown-content {
  margin-left: -63px;
  display: none;
  position: absolute;
  background-color: #4e4e4e;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.baner .dropdown .dropdown-content input {
  border: 4px solid #68a1cf;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 45px;
  padding-bottom: 20px;
}
.baner .dropdown .dropdown-content a {
  white-space: nowrap;
  float: none;
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.baner .dropdown .dropdown-content a:hover {
  background-color: #363636;
}
.baner .dropdown .dropdown-content .add {
  border: 4px solid #68a1cf;
  border: 3px dashed #6980ff;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #5b6672;
}
.baner .dropdown .dropdown-content .add p {
  font-family: "Goudy Bookletter 1911", sans-serif;
  padding-right: 1px;
  color: #ffffff;
}
.baner .dropdown:hover .dropdown-content {
  display: block;
}
.gol {
  top: 10px;
  margin-left: 48%;
  position: absolute;
}
.opis {
  width: 1410px;
  height: 130px;
  background-color: #5c5f5e;
  border-radius: 5px;
}
.opis .opis1 h2 {
  white-space: nowrap;
  font-family: "Goudy Bookletter 1911", sans-serif;
  padding-top: 20px;
  margin-top: 80px;
  color: #ffffff;
}
.opis .opis1 h3 {
  white-space: nowrap;
  font-family: "Goudy Bookletter 1911", sans-serif;
  margin-top: -10px;
  color: #ffffff;
}
.main .wallpapers {
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 1700px;
  margin-top: 20px;
  width: 1405px;
  height: 850px;
  background-color: #1f1f1f;
}
.new .name {
  background-color: #112c33;
  height: 100px;
  width: 1410px;
}
.new .name p {
  white-space: nowrap;
  position: relative;
  top: 25%;
  margin-left: 50px;
  color: #fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
}
.strokaNew {
  margin-top: 40px;
  margin-bottom: 40px;
}
.strokaNew .setka1x4 {
  display: flex;
}
.strokaNew .setka1x4 .setka1x2 {
  margin-left: -40px;
  display: flex;
}
.strokaNew .setka1x4 .setka1x2 li {
  margin-left: 20px;
  display: flex;
}
.strokaNew .setka1x4 .setka1x2 .tovar2 {
  border-radius: 10px;
  text-decoration: none;
  background-color: #364457;
  height: 450px;
  width: 310px;
}
.strokaNew .setka1x4 .setka1x2 .tovar2 .figure {
  width: 300px;
  /* Ширина области */
  height: 300px;
  /* Высота области */
  margin: 0;
  /* Обнуляем отступы */
}
.strokaNew .setka1x4 .setka1x2 .tovar2 .figure img {
  width: 100%;
  /* Ширина изображений */
  height: 100%;
  /* Высота изображении */
  object-fit: cover;
  /* Вписываем фотографию в область */
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
}
.strokaNew .setka1x4 .setka1x2 .tovar2 .botton {
  margin-bottom: 10px;
}
.strokaNew .setka1x4 .setka1x2 .tovar2 .botton p {
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 100px;
  margin-left: 20px;
  color: #ffffff;
  font-size: 30px;
}
.strokaNew .setka1x4 .setka1x2 .tovar2 .Name h4 {
  font-family: "myFont", "Bitstream Vera Serif", serif;
  margin-top: -160px;
  text-align: center;
  color: #ffffff;
}
.stroka {
  margin-top: 40px;
  margin-bottom: 40px;
}
.stroka .setka1x4 {
  display: flex;
}
.stroka .setka1x4 .setka1x2 {
  margin-left: -40px;
  display: flex;
}
.stroka .setka1x4 .setka1x2 li {
  margin-left: 20px;
  display: flex;
}
.stroka .setka1x4 .setka1x2 .tovar2 {
  border-radius: 10px;
  text-decoration: none;
  background-color: #2b2b2b;
  height: 450px;
  width: 310px;
}
.stroka .setka1x4 .setka1x2 .tovar2 .figure {
  width: 300px;
  /* Ширина области */
  height: 300px;
  /* Высота области */
  margin: 0;
  /* Обнуляем отступы */
}
.stroka .setka1x4 .setka1x2 .tovar2 .figure img {
  width: 100%;
  /* Ширина изображений */
  height: 100%;
  /* Высота изображении */
  object-fit: cover;
  /* Вписываем фотографию в область */
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
}
.stroka .setka1x4 .setka1x2 .tovar2 .botton p {
  font-family: Courier;
  margin-top: 90px;
  margin-left: 20px;
  color: #ffffff;
  font-size: 30px;
}
.stroka .setka1x4 .setka1x2 .tovar2 .Name h4 {
  font-family: "Goudy Bookletter 1911", sans-serif;
  margin-top: -140px;
  text-align: center;
  color: #ffffff;
  font-size: 28px;
}
.section {
  margin-left: 0px;
  margin-top: 80px;
  padding-right: 1410px;
  margin-right: 1400px;
  background-color: #15363f;
}
.section p {
  white-space: nowrap;
  position: relative;
  top: 25%;
  margin-left: 50px;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
}
.section p .img {
  position: absolute;
  margin-top: 20px;
  margin-left: 100px;
}
.data {
  margin: -10px;
  margin-top: 50px;
  margin-right: 80%;
  padding-right: 1330px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  background-color: #205463;
}
.data h1 {
  white-space: nowrap;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
}
.data p {
  white-space: nowrap;
  margin-top: 30px;
  margin-left: 30px;
  font-family: Helvetica, Arial, sans-serif;
}
.mydata {
  margin-top: -50px;
  margin-left: -10px;
  margin-right: 80%;
  padding-bottom: 50px;
  background-color: #163042;
}
.mydata p {
  font-family: Helvetica, Arial, sans-serif;
  padding-bottom: 40px;
  padding-top: 40px;
  color: #ffffff;
  margin-left: 100px;
  font-weight: bold;
}
.mydata .prodav {
  margin-left: 0px;
  display: flex;
}
.mydata .prodav li {
  margin-top: -20px;
  display: flex;
}
.mydata .prodav p {
  font-family: Helvetica, Arial, sans-serif;
  white-space: nowrap;
  margin-left: 100px;
  color: #ffffff;
}
.mydata .prodav .telegram {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 20px;
  margin-left: 100px;
  background-color: #448ec0;
  color: #ffffff;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}
.mydata .prodav .telegram:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #426a85;
}
.mydata .prodav .telegram img {
  margin-right: 20px;
  margin-top: 5px;
}
.mydata .prodav .gmail {
  font-family: Helvetica, Arial, sans-serif;
  white-space: nowrap;
  text-align: center;
  background-color: #ec7c60;
  color: #ffffff;
  border-radius: 6px;
  text-decoration: none;
  margin-left: 40px;
  font-weight: bold;
}
.mydata .prodav .gmail:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #974f3c;
}
.mydata .prodav .gmail img {
  margin-right: 20px;
  margin-top: 5px;
}
.container {
  margin-top: -50px;
}
.container .row .col-lg-12 {
  font-size: 20px;
  margin-left: 0px;
  background-color: #50dde7;
  color: #ffffff;
  margin: -10px;
  margin-top: 50px;
  margin-right: 80%;
  padding-right: 1330px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
}
.container .row .col-lg-6 {
  margin-top: 50px;
  margin-left: 800px;
}
.container .row .col-lg-6 .form-group {
  margin-top: 10px;
}
.container .row .col-lg-6 .form-group text-right {
  margin-top: 10px;
  white-space: nowrap;
}
.tovar-1 {
  border-radius: 10px;
  background-color: #1c1c1c;
  width: 1250px;
  padding-bottom: 10px;
  margin-top: 40px;
  margin-left: 70px;
}
.tovar-1 .im9 {
  padding-top: 10px;
  margin-left: -40px;
  display: flex;
}
.tovar-1 .im9 li {
  margin-left: 10px;
  display: flex;
}
.tovar-1 .im9 li .figure {
  width: 300px;
  /* Ширина области */
  height: 300px;
  /* Высота области */
  margin: 0;
  /* Обнуляем отступы */
}
.tovar-1 .im9 li .figure img {
  width: 100%;
  /* Ширина изображений */
  height: 100%;
  /* Высота изображении */
  object-fit: cover;
  /* Вписываем фотографию в область */
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
}
.tovar-1 .Name {
  margin-top: -20px;
  width: 100%;
}
.tovar-1 .Name h4 {
  margin-left: 40px;
  font-size: 35px;
  color: #ffffff;
}
.tovar-1 .Name h6 {
  margin-top: -30px;
  margin-bottom: 10px;
  margin-left: 60px;
  font-size: 35px;
  color: #ffffff;
}
.tovar-1 .bottons {
  margin-left: 00px;
  margin-top: 40px;
  display: flex;
}
.tovar-1 .bottons li {
  list-style-type: none;
  margin-left: 40px;
}
.tovar-1 .bottons li a {
  white-space: nowrap;
  font-size: 30px;
  padding: 10px 60px 10px 60px;
  background-color: #777777;
  text-decoration: none;
  color: aliceblue;
  font-family: Helvetica, Arial, sans-serif;
}
.tovar-1 .bottons li a:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #363636;
}
.tovar-1 .opis9 {
  margin-left: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 10px;
}
.tovar-1 .opis9 p {
  padding-left: 40px;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  border: 4px solid #dddddd;
  background-color: #fff;
  border-radius: 8px;
  height: 100%;
  font-size: 20px;
}
