@media (max-width: 500px) {
    .Main .baner {
        width: 100%;
        height: 60px;
    }
    .Main .baner .wall1 a .wall2 h1 {
        font-size: 30px;
        margin-left: 180px;
        margin-top: 10px;
    }
    /* .Main .baner .menu a {
        font-size: 1px;
        width: -10px;
    } */


    /* Сайт можно заказать тут */
    

    .Main .opis .opis1 {
        margin-top: 60px;
    }
    .Main .opis .opis1 h2 {
        font-size: 20px;
        margin-left: 50px;
    }
    .Main .opis .opis1 h3 {
        font-size: 20px;
        margin-left: -130px;
        margin-top: 0px;
    }
    .Main .opis .opis1 h3 p {
        font-size: 20px;
        margin-left: -50px;
        margin-top: 0px;
    }

    /* Категории товаров */

    .Main .content  {
        margin-left: -220px;
        margin-top: -90px;
    }

    .Main .content .boxes .box1x4 li  {
        margin-top: 5px;
    }

    .Main .content .boxes .box1x2 li {
        margin-left: -10px;
    }
    .Main .content .boxes .box1x2 li a {
        width: 160px;
        height: 140px;
        margin-left: 20px;
    }
    .Main .content .boxes .box1x2 li a .Name p {
        margin-top: -50px;
        font-size: 20px;
    }
      

    .Main .content .boxes .box1x4 .box1x2 link  {
        margin-left: 50px;
     }

    .figure {
        width: 100px; /* Ширина области */
        height: 100px; /* Высота области */
    }

    /* Читайте описание товаров */

    .Main .opis {
        margin-top: 40px;
        width: 100%;
        height: 120px;
    }

    .Main .opis .opis1 h2 {
        font-size: 30px;
        margin-left: 35px;
    }
    .Main .opis .opis1 h3 {
        margin-left: -80px;
        margin-top: -10px;
    }
    .Main .opis .opis1 h3 p {
        font-size: large;
        margin-left: 150px;
    }


    /* --------- Разделения --------- */

    .Main .section p {
        margin-bottom: 0px;
        text-align: center;
        font-size: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /* Строка Топа */

    .strokaNew .setka1x4 {
        margin-left: -95px;
    }

    .strokaNew .setka1x4 .setka1x2{
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    

    /* --------------- Топ товары --------------- */
    
    .strokaNew .setka1x4 .setka1x2 .tovar2 {
        height: 250px;
        width: 180px;
        margin-left: -5px;
    }
    .strokaNew .setka1x4 .setka1x2 .tovar2 .figure {
        width: 170px; /* Ширина области */
        height: 170px; /* Высота области */
    }
    .strokaNew .setka1x4 .setka1x2 .tovar2 .botton  p {
        margin-top: 40px;
        margin-left: 20px;
        font-size: 20px;
    }
    .strokaNew .setka1x4 .setka1x2 .tovar2 h1 {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .strokaNew .setka1x4 .setka1x2 .tovar2 .Name h4 {
       
        margin-top: -70px;
    }

    /* Мои данные */
    .mydata {
        margin-right: 0px;
        margin-left: -150px;
        margin-top: -27px;
        padding-bottom: 100px;
    }
    .mydata p {
        padding-bottom: 160px;
        padding-top: 40px;
        margin-right: 0px;
        padding-left: 100px;
        margin-left: 100px;
        font-size: 24px;
    }
    .mydata .prodav {
        margin-top: -150px;
        margin-left: 80px;
        display: flex;
    }
    .mydata .prodav li {
        margin-left: 100px;
        display: flex;    
    }

    /* Товары в отдельных окнах */
    .stroka {
        margin-bottom: 0px;
        margin-top: 10px;
        margin-left: -40px;
    }
    .stroka .setka1x4  {
        margin-top: 10px;
        margin-top: 10px;
    }
    .stroka .setka1x4 .setka1x2 {
        margin-top: 10px;
    }
    .stroka .setka1x4 .setka1x2 li .tovar2 {
        margin-left: -10px;
        height: 300px;
        width: 180px;
    }
    
    .stroka .setka1x4 .setka1x2 li .tovar2 .figure {
        width: 170px; /* Ширина области */
        height: 170px; /* Высота области */
    }

    .stroka .setka1x4 .setka1x2 li .tovar2 .Name h4 {
        margin-top: -120px;
        font-size: 19px;
    }
    .stroka .setka1x4 .setka1x2 li .tovar2 .botton p {
        margin-top: 80px;
        margin-left: 20px;
        font-size: 25px;
    }


}































    /* *********************************** */

@media (min-width: 500px) {

        /* Категории товаров */

    .Main .content .boxes .box1x4 {
        display: flex;
    }
    .Main .content .boxes .box1x2 li {
        margin-left: -15px;
    }
    .Main .content .boxes .box1x2 li a {
        width: 260px;
        height: 240px;
        margin-left: 20px;
    }
    .Main .content .boxes .box1x2 li a .Name p {
        margin-top: -100px;
        font-size: 28px;
    }
        

    .Main .content .boxes .box1x4 .box1x2 link  {
        margin-left: 5px;
    }

    .figure {
        width: 200px; /* Ширина области */
        height: 200px; /* Высота области */
    }

    /* Читайте описание товаров */
    .Main .opis {
        margin-top: -30px;
        width: 100%;
        height: 130px;
    }
    .Main .opis .opis1 h2 {
        font-size: 30px;
        margin-left: 600px;
    }
    .Main .opis .opis1 h3 {
        font-size: 24px;
        margin-left: 420px;
        margin-top: -10px;
    }
    .Main .opis .opis1 h3 p {
        margin-left: 150px;
    }

    /* --------- Разделения --------- */

    .Main .section p {
        margin-bottom: 0px;
        font-size: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    /* Строка Топа */

    .strokaNew {
        margin-left: 50px;
        margin-top: 40px;
        margin-bottom: -10px;
    }
    .strokaNew .setka1x4 {
        list-style-type: none;
        display: flex;
    }

/* --------------- Топ товары --------------- */

    .strokaNew .setka1x4 .setka1x2 .tovar2 {
        height: 450px;
        width: 310px;
    }
    .strokaNew .setka1x4 .setka1x2 .tovar2 .figure {
        width: 300px; /* Ширина области */
        height: 300px; /* Высота области */
    }
    .strokaNew .setka1x4 .setka1x2 .tovar2 .botton  p {
        margin-top: 100px;
        margin-left: 20px;
        font-size: 30px;
    }
    .strokaNew .setka1x4 .setka1x2 .tovar2 h1 {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .strokaNew .setka1x4 .setka1x2 .tovar2 .Name h4 {
        font-size: 30px;
        margin-top: -150px;
    }

    /* Мои данные */
    .mydata {
        margin-left: -150px;
        margin-top: -27px;
        padding-bottom: 100px;
    }
    .mydata p {
        padding-bottom: 160px;
        padding-top: 40px;
        margin-right: -170px;
        padding-left: 100px;
        margin-left: 100px;
        font-size: 24px;
    }
    .mydata .prodav {
        margin-top: -150px;
        margin-left: 640px;
        display: flex;
    }
    .mydata .prodav li {
        margin-left: 100px;
        display: flex;    
    }
    

    /* Товары в отдельных окнах */

    .stroka {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .stroka .setka1x4 {
        display: flex;
    }

    .stroka .setka1x4 .setka1x2 li .tovar2 {
        height: 450px;
        width: 310px;
    }

    .stroka .setka1x4 .setka1x2 li .tovar2 .figure {
        width: 300px; /* Ширина области */
        height: 300px; /* Высота области */
    }

    .stroka .setka1x4 .setka1x2 li .tovar2 .Name h4 {
        margin-top: -140px;
        font-size: 28px;
    }
    .stroka .setka1x4 .setka1x2 li .tovar2 .botton p {
        margin-top: 90px;
        margin-left: 20px;
        font-size: 30px;
    }

}