@media (max-width: 820px) {
    .baner {
        width: 1500px;
        height: 150px;
    }
    /* Логотип */
    .rot {
        width: 120px;
        height: 120px;
    }
    /* Сетка */
    .stroka .setka1x4 {
        display: block;
        margin-top: 20px;
    }
    .stroka .setka1x4 .setka1x2 {
        margin-top: 20px;
    }
    .stroka .setka1x4 .setka1x2 .tovar2 {
        margin-left: 20px;
        border-radius: 30px;
        height: 850px;
        width: 610px;
    }
    .stroka .setka1x4 .setka1x2 .tovar2 img {
        border-radius: 30px;
        margin-top: 20px;
        margin-left: 20px;
        width: 570px;
        height: 570px;
    }
    .stroka .setka1x4 .setka1x2 .tovar2 .Name h4 {
        margin-top: -290px;
        font-size: 60px;
    }
    .stroka .setka1x4 .setka1x2 .tovar2 .botton p {
        margin-top: 160px;
        font-size: 70px;
    }
    /* Сетка */
    /* Барахолка */
    .wall2 {
        margin-right: -250px;
        font-size: 40px;
    }
    .dropbtn {
        margin-top: 40px;
        padding-bottom: 40px;
    }
    .dropdown-content {
        margin-left: -200px;
    }
    .dropdown-content input {
        font-size: 42px;
    }
    .dropdown-content a {
        font-size: 80px;
    }
    .add p {
        font-size: 40px;
        margin-left: 10px;
    }
    /* заказ сайта */
    .opis {
        padding-top: 70px;
        width: 1410px;
        height: 300px;
    }
    .opis1 h2 {
        font-size: 60px;
        margin-left: 400px;
    }
    .opis1 h3 {
        font-size: 50px;
        margin-left: 8px;
    }
    /* Новые товары */
    .new .name {
        height: 130px;
    }
    .new .name p {
        font-size: 80px;
    }
    /* Новые товары  */
    .strokaNew .setka1x4 {
        display: block;
        margin-top: 20px;
    }
    .strokaNew .setka1x4 .setka1x2 {
        margin-top: 20px;
    }
    .strokaNew .setka1x4 .setka1x2 .tovar2 {
        margin-left: 20px;
        border-radius: 30px;
        height: 850px;
        width: 610px;
    }
    .strokaNew .setka1x4 .setka1x2 .tovar2 img {
        border-radius: 30px;
        margin-top: 20px;
        margin-left: 20px;
        width: 570px;
        height: 570px;
    }
    .strokaNew .setka1x4 .setka1x2 .tovar2 .Name h4 {
        margin-top: -290px;
        font-size: 60px;
    }
    .strokaNew .setka1x4 .setka1x2 .tovar2 .botton p {
        margin-top: 160px;
        font-size: 70px;
    }
    /* Секции */
    .section {
        height: 150px;
    }
    .section p {
        font-size: 80px;
    }
    /* Товары */
    /* Данные для покупки */
    .data h1 {
        font-size: 100px;
    }
    .mydata {
        width: 1430px;
        height: 2100px;
    }
    .mydata p {
        margin-top: 50px;
        font-size: 80px;
        margin-right: 50px;
    }
    .telegram {
        width: 500px;
        height: 70px;
        font-size: 40px;
    }
    .telegram img {
        width: 40px;
        height: 40px;
    }
    .gmail {
        width: 500px;
        height: 70px;
        font-size: 40px;
    }
    .gmail img {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 820px) {
    .wall2 {
        margin-right: 128px;
    }
    .rot {
        width: 60px;
        height: 60px;
    }
    .opis1 h2 {
        font-size: 30px;
        margin-left: 600px;
    }
    .opis1 h3 {
        font-size: 24px;
        margin-left: 420px;
    }
    .baner .dropdown .dropdown-content {
        margin-left: -180px;
    }
    .baner .dropdown .dropdown-content input {
        font-size: 40px;
    }
    .baner .dropdown .dropdown-content a {
        font-size: 70px;
    }
    .baner .dropdown .dropdown-content .add p {
        font-size: 40px;
        margin-left: 30px;
    }
    .section {
        height: 100px;
    }
    .section p {
        font-size: 40px;
    }
    .Name {
        font-size: 35px;
        height: 50px;
    }
    .bottons {
        margin-left: 80px;
    }
    .bottons a {
        font-size: 30px;
        padding: 10px 60px 10px 60px;
    }
    .bottons a img {
        width: 20px;
        height: 20px;
    }
    .opis9 p {
        width: 1070px;
        font-size: 20px;
    }
    .second img {
        width: 250px;
        height: 250px;
    }
    .second a {
        padding: 10px 30px 10px 30px;
        font-size: 20px;
        margin-left: 70px;
    }
    .second p {
        font-size: 26px;
        height: 30px;
    }
    .data h1 {
        font-size: 40px;
    }
    .mydata {
        width: 1430px;
        height: 450px;
    }
    .mydata p {
        font-size: 26px;
    }
    .telegram {
        width: 300px;
        height: 50px;
        font-size: 20px;
    }
    .telegram img {
        width: 20px;
        height: 20px;
    }
    .gmail {
        width: 220px;
        height: 50px;
        font-size: 20px;
    }
    .gmail img {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 350px) {
    .wall2 {
        margin-right: -350px;
    }
}

@media (max-width: 250px) {
    .rot {
        width: 80px;
        height: 80px;
    }
    .wall2 {
        font-size: 30px;
        margin-right: -700px;
    }
}