@media (max-width: 820px) {
    .baner {
        width: 1500px;
        height: 150px;
    }
    /* Логотип */
    .rot {
        width: 120px;
        height: 120px;
    }
    /* Барахолка */
    .wall2 {
        margin-right: -250px;
        font-size: 40px;
    }
    .dropbtn {
        margin-top: 40px;
        padding-bottom: 40px;
    }
    .dropdown-content {
        margin-left: -200px;
    }
    .dropdown-content input {
        font-size: 42px;
    }
    .dropdown-content a {
        font-size: 80px;
    }
    .add p {
        font-size: 40px;
        margin-left: 10px;
    }
    /* заказ сайта */
    .opis {
        padding-top: 70px;
        width: 1410px;
        height: 300px;
    }
    .opis1 h2 {
        font-size: 60px;
        margin-left: 400px;
    }
    .opis1 h3 {
        font-size: 50px;
        margin-left: 8px;
    }
    /* Плитки */
    .second img {
        width: 250px;
        height: 250px;
    }
    .second a {
        padding: 5px 90px 5px 90px;
        font-size: 25px;
        margin-left: 0px;
    }
    .second p {
        font-size: 33px;
        height: 40px;
    }
    /* Секции */
    .section {
        height: 130px;
    }
    .section p {
        font-size: 60px;
    }
    /* Товары */
    .Name {
        font-size: 55px;
        height: 70px;
    }
    .bottons {
        margin-left: 10px;
    }
    .bottons a img {
        width: 40px;
        height: 40px;
    }
    .bottons a {
        font-size: 40px;
        padding: 15px 50px 15px 50px;
    }
    .opis9 p {
        width: 1070px;
        font-size: 50px;
    }
    /* Данные */
    .data h1 {
        font-size: 55px;
    }
    .mydata {
        width: 1430px;
        height: 1100px;
    }
    .mydata p {
        font-size: 50px;
        margin-right: 50px;
    }
    .telegram {
        width: 500px;
        height: 70px;
        font-size: 40px;
    }
    .telegram img {
        width: 40px;
        height: 40px;
    }
    .gmail {
        width: 500px;
        height: 70px;
        font-size: 40px;
    }
    .gmail img {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 820px) {
    .wall2 {
        margin-right: 128px;
    }
    .rot {
        width: 60px;
        height: 60px;
    }
    .opis1 h2 {
        font-size: 30px;
        margin-left: 600px;
    }
    .opis1 h3 {
        font-size: 24px;
        margin-left: 420px;
    }
    .dropdown-content {
        margin-left: -55px;
    }
    .dropdown-content input {
        font-size: 25px;
    }
    .dropdown-content a {
        font-size: 40px;
    }
    .add p {
        font-size: 20px;
        margin-left: 30px;
    }
    .section {
        height: 100px;
    }
    .section p {
        font-size: 40px;
    }
    .Name {
        font-size: 35px;
        height: 50px;
    }
    .bottons {
        margin-left: 80px;
    }
    .bottons a {
        font-size: 30px;
        padding: 10px 60px 10px 60px;
    }
    .bottons a img {
        width: 20px;
        height: 20px;
    }
    .opis9 p {
        width: 1070px;
        font-size: 20px;
    }
    .second img {
        width: 250px;
        height: 250px;
    }
    .second a {
        padding: 10px 30px 10px 30px;
        font-size: 20px;
        margin-left: 70px;
    }
    .second p {
        font-size: 26px;
        height: 30px;
    }
    .data h1 {
        font-size: 40px;
    }
    .mydata {
        width: 1430px;
        height: 450px;
    }
    .mydata p {
        font-size: 26px;
    }
    .telegram {
        width: 300px;
        height: 50px;
        font-size: 20px;
    }
    .telegram img {
        width: 20px;
        height: 20px;
    }
    .gmail {
        width: 220px;
        height: 50px;
        font-size: 20px;
    }
    .gmail img {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 350px) {
    .wall2 {
        margin-right: -350px;
    }
}

@media (max-width: 250px) {
    .rot {
        width: 80px;
        height: 80px;
    }
    .wall2 {
        font-size: 30px;
        margin-right: -700px;
    }
}