// out: ../css/index.css

 @fon: #74c4b9;
@buy: rgb(22, 177, 42);
@red: #df5656;
.border(@color) {
    border: 4px solid @color;
    
}
html{
    background-color: #e1f7f7;
    scroll-behavior: smooth;
}
.baner {
    //  .border(#000000);
    z-index: 2;
    background-color: #147e70;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
        img{
            margin-top: 10px;
            margin-left: 90px;
        }
        h1 {
            margin-top: 20px;
            margin-left: 50px;
            margin-right: 128px;
            color: #fff;
        }
    //  test
    .dropdown {
        float: left;
        overflow: hidden;
        background-color: #22d188;
        border-radius: 5px;
        margin-left: 570px;
        margin-top: 5px;
        margin-bottom: 5px;

        .dropbtn {
            border: none;
            outline: none;
            padding-left: 65px;
            padding-right: 45px;
            padding-top: 15px;
            margin-bottom: 20px;
            background-color: inherit;
            p {
                margin-bottom: -15px;
                margin-top: -40px;
                font-family: inherit;
                color: rgb(0, 0, 0);
                font-size: 40px;
            }
            img {
                margin-top: 5px;
                margin-left: -150px;
            }
        }
           &:hover {
            background-color: rgb(22, 133, 81);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          }
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            // min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            input {
                .border(#68a1cf);
                font-size: 25px;
                padding-left: 20px;
                padding-top: 20px;
                padding-right: 20px;
                padding-bottom: 20px;
            }
            a {
                white-space: nowrap;
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                font-size: 40px;
                &:hover {
                    background-color: #ddd;
                  }
              }
              .add {
                .border (#68a1cf);
                border: 3px dashed rgb(105, 128, 255);
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: #d5e6f7;
                p {
                    padding-right: 1px;
                    font-size: 20px;
                    color: #6dacd6;
                    margin-left: 30px;               
                }                   
            }
        }
        &:hover .dropdown-content {
            display: block;
          }

    }
}
.opis {
    background-color: #e0bfbf;
    border-radius: 5px;
    padding-right: 1410px;
    h2 {
        white-space: nowrap;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 30px;
        margin-left: 600px;
        padding-top: 20px;
        margin-top: 110px;
        color: #e74c3c
    }
    h3 {
        white-space: nowrap;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 24px;
        margin-left: 420px;
        margin-top: 0px;
        padding-bottom: 20px;
        color: rgb(0, 0, 0);
    }
}
.main{
    .wallpapers{
        border-radius: 5px;
        margin-top: 5px;
        margin-right: 1700px;

        padding-right: 1410px;
        padding-top: 60px;
        padding-bottom: 850px;
        background-color: #94e2d8;
    }
}
.gos {
    display: flex;
    margin-left: -945px;
    margin-top: -870px;
.go{
    .second{
        padding-top: 20px;
        padding-bottom: 50px;
        padding-right: 300px;

        margin-left: 1270px;
        margin-right: 80%;
        background-color: #6dacd6;
        img {
            border-radius: 8px;
            // .border(#b8821d);
            margin-left: 20px;
        }
            a {
            position: relative;
            font-family: Helvetica, Arial, sans-serif;
            margin-left: 100px;
            top: 60px;
            border-radius: 5px;
            text-decoration: none;
            color: #fff;
            padding: 10px;
            background-color: #df5656;
                &:hover {
                background-color: #973230;;
            }
        }
        p {
            white-space: nowrap;
            font-family: Helvetica, Arial, sans-serif;
            color: #000000;
            margin-top: -15px;
            margin-left: 100px;
            font-size: 26px;
        }
    }
}
.go1{
    .second1{
        padding-top: 20px;
        padding-bottom: 50px;
        padding-right: 300px;

        margin-right: 90%;
        background-color: #6dacd6;
        img {
            border-radius: 8px;
            // .border(#000000);
            margin-left: 20px;
        }
            a {
            position: relative;
            font-family: Helvetica, Arial, sans-serif;
            margin-left: 100px;
            top: 60px;
            border-radius: 5px;
            text-decoration: none;
            color: #fff;
            padding: 10px;
            background-color: #df5656;
                &:hover {
                background-color: #973230;;
            }
        }
        p {
            font-family: Helvetica, Arial, sans-serif;
            white-space: nowrap;
            color: #000000;
            margin-top: -15px;
            margin-left: 50px;
            font-size: 26px;
        }
    }
}
.go2{
    .second2{
        padding-top: 20px;
        padding-bottom: 50px;
        padding-right: 300px;

        margin-right: 90%;
        background-color: #6dacd6;
        img {
            border-radius: 8px;
            // .border(#2a6d8b);
            margin-left: 20px;
        }
            a {
            position: relative;
            font-family: Helvetica, Arial, sans-serif;
            margin-left: 100px;
            top: 60px;
            border-radius: 5px;
            text-decoration: none;
            color: #fff;
            padding: 10px;
            background-color: #df5656;
                &:hover {
                background-color: #973230;;
            }
        }
        p {
            font-family: Helvetica, Arial, sans-serif;
            white-space: nowrap;
            color: #000000;
            margin-top: -15px;
            margin-left: 75px;
            font-size: 26px;
        }
    }
}
 .go3{
    margin-right: 80%;
    .second3{
        padding-top: 20px;
        padding-bottom: 50px;
        padding-right: 20px;

        background-color: #6dacd6;
         img {
            border-radius: 8px;
            // .border(#5b5b5c);
            margin-left: 20px;
        }
            a {
            position: relative;
            font-family: Helvetica, Arial, sans-serif;
            margin-left: 100px;
            top: 60px;
            border-radius: 5px;
            text-decoration: none;
            color: #fff;
            padding: 10px;
            background-color: #df5656;
                &:hover {
                background-color: #973230;;
            }
        }
        p {
            font-family: Helvetica, Arial, sans-serif;
            white-space: nowrap;
            color: #000000;
            margin-top: -15px;
            margin-left: 70px;
            font-size: 26px;
        }
    }
 }
li {
        list-style-type: none;
        margin-left: -250px;
    }
}
.gos2 {
    display: flex;
    margin-left: -945px;
    margin-top: 40px;
.go{
    .second{
        padding-top: 20px;
        padding-bottom: 50px;
        padding-right: 300px;

        margin-left: 1270px;
        margin-right: 80%;
        background-color: #6dacd6;
        img {
            border-radius: 8px;
            // .border(#167e12);
            margin-left: 20px;
        }
            a {
            position: relative;
            font-family: Helvetica, Arial, sans-serif;
            margin-left: 100px;
            top: 60px;
            border-radius: 5px;
            text-decoration: none;
            color: #fff;
            padding: 10px;
            background-color: #df5656;
                &:hover {
                background-color: #973230;;
            }
        }
        p {
            white-space: nowrap;
            font-family: Helvetica, Arial, sans-serif;
            color: #000000;
            margin-top: -15px;
            margin-left: 85px;
            font-size: 26px;
        }
    }
}
.go1{
    .second1{
        padding-top: 20px;
        padding-bottom: 50px;
        padding-right: 300px;

        margin-right: 90%;
        background-color: #6dacd6;
        img {
            border-radius: 8px;
            // .border(#36525a);
            margin-left: 25px;
        }
            a {
            position: relative;
            font-family: Helvetica, Arial, sans-serif;
            margin-left: 100px;
            top: 60px;
            border-radius: 5px;
            text-decoration: none;
            color: #fff;
            padding: 10px;
            background-color: #df5656;
                &:hover {
                background-color: #973230;;
            }
        }
        p {
            font-family: Helvetica, Arial, sans-serif;
            white-space: nowrap;
            color: #000000;
            margin-top: -15px;
            margin-left: 35px;
            font-size: 26px;
        }
    }
}
.go2{
    .second2{
        padding-top: 20px;
        padding-bottom: 50px;
        padding-right: 300px;

        margin-left: -1px;
        margin-right: 90%;
        background-color: #6dacd6;
        img {
            border-radius: 8px;
            // .border(#3b9ac7);
            margin-left: 25px;
        }
            a {
            position: relative;
            font-family: Helvetica, Arial, sans-serif;
            margin-left: 100px;
            top: 60px;
            border-radius: 5px;
            text-decoration: none;
            color: #fff;
            padding: 10px;
            background-color: #df5656;
                &:hover {
                background-color: #973230;;
            }
        }
        p {
            font-family: Helvetica, Arial, sans-serif;
            white-space: nowrap;
            color: #000000;
            margin-top: -15px;
            margin-left: 10px;
            font-size: 26px;
        }
    }
}
 .go3{
    margin-right: 80%;
    .second3{
        padding-top: 20px;
        padding-bottom: 50px;
        padding-right: 20px;

        margin-left: -15px;
        background-color: #6dacd6;
         img {
            border-radius: 8px;
            // .border(#000000);
            margin-left: 24px;
        }
            a {
            position: relative;
            font-family: Helvetica, Arial, sans-serif;
            margin-left: 100px;
            top: 60px;
            border-radius: 5px;
            text-decoration: none;
            color: #fff;
            padding: 10px;
            background-color: #df5656;
                &:hover {
                background-color: #973230;;
            }
        }
        p {
            font-family: Helvetica, Arial, sans-serif;
            white-space: nowrap;
            color: #000000;
            margin-top: -15px;
            margin-left: 85px;
            font-size: 26px;
        }
    }
 }
li {
        list-style-type: none;
        margin-left: -250px;
    }
}
.tovar1 {
    border-radius: 20px;
    background-color: @fon;

    margin-top: 50px;
    margin-right: 80%;
    margin-left: 75px;

    padding-right: 1250px;
    padding-bottom: 50px;
    img{
        border-radius: 10px;
    }
    .im9{
        padding-top: 30px;
        margin-top: 30px;
        margin-left: -40px;
        display: flex;
        li {
            margin-left: 10px;
            display: flex;
        }
    }
    .botton9 {
        position: relative;
        margin-top: 110px;
        a {
            font-size: 30px;
            padding: 10px 88px 10px 88px;
            margin-left: 850px;
            background-color: @buy;
            text-decoration: none;
            color: aliceblue;
            font-family: Helvetica, Arial, sans-serif;
            border-radius: 5px;
        &:hover {
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            background-color: rgb(23, 107, 34);
        }
      }
    }
  .botton91 {
    margin-top: 40px;
      a{
        white-space: nowrap;
        font-size: 30px;
        padding: 10px 60px 10px 60px;
        margin-left: 850px;
        background-color: rgb(0, 122, 153);
        text-decoration: none;
        color: aliceblue;
        font-family: Helvetica, Arial, sans-serif;
        border-radius: 5px;
    &:hover {
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        background-color: rgb(23, 52, 107);
        }
      }
    }

    .opis9 {
        margin-top: -220px;
        h4 {
            white-space: nowrap;
            font-size: 30px;
            margin-top: 40px;
            margin-left: 90px;
            margin-right: 950px;
            color: @red;
        }
        p {
            .border(#dddddd);
            white-space: nowrap;
            background-color: #fff;
            font-size: 20px;
            margin-left: 80px;
            margin-top: -20px;
            margin-bottom: 20px;
            margin-right: 600px;

            border-radius: 8px;
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 720px;
        }

    }
}

.section {
    // margin: -10px;
    margin-top: 80px;
    margin-right: 100%;
    
    padding-right: 1330px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 100px;
    background-color: #22d188;
        p {
            white-space: nowrap;
            position: relative;
            padding-top: 0px;
            padding-bottom: 0px;
            margin-left: 50px;
            color: #fff;
            font-size: 40px;
            font-family: Helvetica, Arial, sans-serif;
        }
}

.data {
    margin: -10px;
    margin-top: 50px;
    margin-right: 80%;
    
    padding-right: 1330px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    background-color:  #3ebead;
    h1 {
        white-space: nowrap;
        color: rgb(255, 255, 255);
        font-family: Helvetica, Arial, sans-serif;
    }
    p {
        white-space: nowrap;
        margin-top: 30px;
        margin-left: 30px;
        font-family: Helvetica, Arial, sans-serif;
    }
}
.mydata {
    margin-top: -25px;
    margin-left: -10px;
    margin-right: 80%;
    padding-bottom: 50px;
    
    padding-right: 1430px;
    background-color:  #7fe0d3;
    p {
        white-space: nowrap;
        padding-bottom: 40px;
        padding-top: 40px;
        color: rgb(0, 0, 0);
        font-size: 25px;
        margin-left: 100px;
    }
    .prodav {
        p {
            white-space: nowrap;
            margin-top: -130px;
            margin-left: 100px;
            font-size: 25px;
            color: #000000;
        }
        a {
            position: absolute;
            white-space: nowrap;
            margin-top: -50px;
            margin-bottom: 20px;
            margin-left: 100px;
    
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #55aee9;
            color: rgb(255, 255, 255);
            border-radius: 6px;
            font-size: 20px;
            text-decoration: none;
            &:hover {
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                background-color: #426a85;
            }
            img {
                margin-right: 20px;
                margin-top: 5px;
            }
        }
        .gmail {
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #ec7c60;
            color: rgb(0, 0, 0);
            border-radius: 6px;
            font-size: 20px;
            text-decoration: none;

            margin-left: 430px;
            &:hover {
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                background-color: #974f3c;
            }
        }
    }
}
// .bottonDown {
//     position: relative;
//     margin-top: -300px;
//     margin-bottom: 0px;
//     a {
//         white-space: nowrap;
//         font-size: 30px;
//         padding: 30px 50px 30px 50px;
//         margin-left: 1070px;
//         background-color: rgb(0, 122, 153);
//         text-decoration: none;
//         color: aliceblue;
//         font-family: Helvetica, Arial, sans-serif;
//         border-radius: 5px;
    
//     &:hover {
//         background-color: rgb(37, 65, 117);
//     }
// }
    
// }